@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

body {
  background: url(https://images.pexels.com/photos/403575/pexels-photo-403575.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
  background-size: cover; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  background-color: #ffc042; }
  .nav .create-column {
    height: 40px;
    padding: 5px 10px;
    border: 2px solid #27ae60;
    border-radius: 10px;
    background-color: #27ae60;
    color: #fff;
    font-size: 16px;
    cursor: pointer; }
    @media (max-width: 500px) {
      .nav .create-column {
        height: 60px;
        font-size: 14px; } }

.column-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px; }
  .column-container .column {
    position: relative;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 30%;
    margin: 15px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px; }
    @media (max-width: 900px) {
      .column-container .column {
        width: 40%; } }
    @media (max-width: 500px) {
      .column-container .column {
        width: 100%; } }
    .column-container .column .column-title {
      padding: 10px;
      background-color: #95a5a6;
      border-radius: 10px 10px 0 0; }
    .column-container .column .add-card {
      z-index: 1;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 40px;
      width: 40px;
      border: 5px solid #27ae60;
      border-radius: 0 0 10px 0;
      background-color: #27ae60;
      font-size: 25px;
      font-weight: 700;
      color: #fff;
      cursor: pointer; }
    .column-container .column .btn-delete {
      position: absolute;
      top: 0;
      right: 0;
      width: 49px;
      height: 49px;
      border: none;
      border-radius: 0 10px 0 0;
      background-color: #ffc042;
      font-weight: 900;
      font-size: 20px;
      cursor: pointer; }
  .column-container .column ul {
    padding: 10px;
    list-style-type: none;
    min-height: 30px; }
    .column-container .column ul .card {
      display: block;
      cursor: pointer;
      padding: 10px;
      position: relative; }
      .column-container .column ul .card .card-description {
        display: inline-block;
        margin-left: 25px;
        font-weight: 700; }
      .column-container .column ul .card .btn-delete-card {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: #ffc042;
        font-weight: 900;
        font-size: 16px; }

/*# sourceMappingURL=style-prefixed.css.map */